* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #333;
    font-size: 40px;
}

header {
    background: rgb(4, 142, 223);
    padding: 15px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    color: #d8f3dc;
}

.hero {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
    background: white;
    gap: 40px;
}

.hero-content {
    max-width: 550px;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 12px;
}

.hero p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.hero img {
    width: 850px;
    max-width: 100%;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.btn {
    display: inline-block;
    padding: 13px 33px;
    background:  rgb(4, 142, 223);
    color: #fff;
    border-radius: 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background: skyblue;
}

section {
    flex: 1;
    padding: 70px 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.container h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.container p {
    max-width: 720px;
    margin: auto;
    line-height: 1.7;
}

.container img {
    margin-top: 30px;
    width: 100%;
    max-width: 520px;
    border-radius: 18px;
}

/*.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    margin-top: 40px;
    justify-items: center; 
}

.product {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    width: 100%;
    max-width: 300px; 
}

.product img {
    width: 100%; 
    max-width: 280px; 
    border-radius: 15px;
    margin-bottom: 15px;
}

.product h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.product p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.product .btn {
    background: #1b4332;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
}

.product .btn:hover {
    background: #14532d;
}*/

.product{
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.product:hover{
    transform:translateY(-5px);
}

.product img{
    width:100%;
    height: 450px;
    object-fit:cover;
    border-radius:15px;
}

.product h3{
    margin:12px 0;
}

.review-carousel {
    max-width: 600px;
    margin: auto;
}

.review {
    display: none;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

.review.active {
    display: block;
}

.carousel-btn {
    margin: 15px 6px;
    padding: 8px 16px;
    border: none;
    background: black;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 40px;
}

textarea {
    resize: none;
    height: 130px;
}

footer {
    background: rgb(4, 142, 223);
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: auto;
    font-size: 40px;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }


@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr; 
    }
}


    .hero img {
        width: 360px;
    }

@media (max-width: 600px) {
    header {
        padding: 15px 30px;
    }

    .hero {
        padding: 60px 30px;
    }

    .hero img {
        width: 100%;
    }
}